body {
    width: 200px;
    height: 150px;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #colorPicker {
    margin: 10px auto;
    width: 100%;
  }
  
  #colorValue {
    text-align: center;
    margin-top: 20px;
  }
  